---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign ordered_publications = "/publication/2025-01-02-robust-injection|/publication/2025-11-01-splvd|/publication/2025-12-01-bacalarm|/publication/2023-01-01-robustness-verification|/publication/2025-01-01-dlap|/publication/2026-03-01-apisensor|/publication/2021-01-01-mspld|/publication/2026-01-02-one-size|/publication/2026-01-01-automated-localization|/publication/2025-09-01-self-managed-libraries|/publication/2025-08-01-computer-journal-llm-libraries|/publication/2026-07-01-openharmony-issre|/publication/2025-04-01-automated-detection-affected-libraries|/publication/2025-03-01-architectural-tactics" | split: "|" %}

{% for item_url in ordered_publications %}
  {% for pub in site.publications %}
    {% if pub.permalink == item_url %}
      {% assign post = pub %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}
